{% extends "layout.html" %}

{% block content %}

    <div class="page-content">
		  <div class="col-md-10">
	  			<div class="row">
	  				<div class="col-md-12">
	  					<div class="content-box-large">
			  				<div class="panel-heading">
					            <div class="panel-title">Rule Editor
					            </div>
					            <div class="panel-options">
					            </div>
					        </div>
			  				<div class="panel-body">
			  					<form class="form-horizontal" role="form" method="POST">
								  <div class="form-group">
									  <label class="col-md-2 control-label" for="text-field">Rule Expression</label>
									  <div class="col-md-10">
									  	  <input class="form-control" placeholder="Insert rule expression" type="text" for="input_rule_expression">
									  </div>
								    </div>
								  <div class="form-actions">
										<div class="row">
											<div class="col-md-12">
												<button class="btn btn-default" type="submit">
													Cancel
												</button>
												<button id = "btn-save-rule-expr" class="btn btn-primary" type="submit">
													<i class="fa fa-save"></i>
													Save
												</button>
											</div>
										</div>
									</div>
								</form>
			  				</div>
			  			</div>
	  				</div>
	  			</div>
		  </div>
		</div>
    </div>

{% endblock %}