{% extends "layout.html" %}

{% block content %}

	<div class="page-content">
		<div class="col-md-10">
			<div class="row">
				<div class="col-md-12">
					<div class="content-box-large">
						<div class="panel-heading">
							<div class="panel-title">
								Events manager
							</div>
							<div class="panel-options">
								<a href="/event_add"></i> <button class="btn btn-success btn-xs"><i class="glyphicon glyphicon-plus"></i> Event</button></a>
							</div>
						</div>
						<div class="panel-body">
							<table>
								<thead>
									<tr>
										<th class="id">id</th>
										<th>name</th>
										<th>rule</th>
										<th>action</th>
										<th class="edit">edit</th>
										<th class="del">delete</th>
									</tr>
								</thead>
								<tbody>
									{% for row in results %}
    									<tr>
    										<td>{{ row.id }}</td>
    										<td>{{ row.name }}</td>
    										<td>{{ row.rules_id }}</td>
    										<td>{{ row.actions_id }}</td>
    										<td class="edit"><a href = {{ url_for('edit_event', id=row.id) }}><button class="btn btn-primary btn-xs">Edit</button></a></td>
    										<td class="del"><a href = {{ url_for('delete_event', id=row.id) }}><button class="btn btn-danger btn-xs">Delete</button></a></td>
    									</tr>
									{% endfor %}
								</tbody>
							</table>
 						</div>
			  		</div>
			  	</div>
	  		</div>
	  	</div>
	</div>

{% endblock %}

