{% extends "layout.html" %}

{% block content %}

	<div class="page-content">
		<div class="col-md-10">
			<div class="row">
				<div class="col-md-12">
					<div class="content-box-large">
						<div class="panel-heading">
							<div class="panel-title">
								New action
							</div>
							<div class="panel-options">
							</div>
						</div>
						<div class="panel-body">
							
							{% from "_formhelpers.html" import render_field %}
							<form method=post>
								<dl>
									{{ render_field(form.name) }}
									{{ render_field(form.expression) }}
								</dl>
								<p>
									<input type=submit name=cancel value=Cancel class="btn btn-default btn-xs">
									<input type=submit name=submit value=Confirm class="btn btn-primary btn-xs">
								</p>
							</form>

						</div>
			  		</div>
			  	</div>
	  		</div>
	  	</div>
	</div>

{% endblock %}