{% extends "layout.html" %}
{% block content %}

	<div class="page-content">
		<div class="col-md-10">
			<div class="row">
				<div class="col-md-12">
					<div class="content-box-large">
						<div class="panel-heading">
							<div class="panel-title">
								
							</div>
							<div class="panel-options">
							</div>
						</div>
						<div class="panel-body">
							<h2>About</h2><p>This is an About page for the Intro to Flask article. Don't I look good? Oh stop, you're making me blush.</p>
						</div>
			  		</div>
			  	</div>
	  		</div>
	  	</div>
	</div>

{% endblock %}
