{% extends "layout.html" %}
{% block content %}
	<div class="page-content">
		<div class="col-md-10">
			<div class="row">
				<div class="col-md-12">
					<div class="content-box-large">
						<div class="panel-heading">
							<div class="panel-title">
								<div class="panel-title">
								</div>
								<div class="panel-options">
									<a href="/run_controller"></i> <button class="btn btn-success btn-xs"><i class="glyphicon glyphicon-plus"></i> Run controller</button></a>
								</div>
							</div>
							<div class="panel-options">
							</div>
						</div>
						<div class="panel-body">
							
							<h2>Welcome to the Juá Control service</h2>
							<p>This is the home page for the application.</p>
						</div>
			  		</div>
			  	</div>
	  		</div>
	  	</div>
	</div>

{% endblock %}
