{% extends "layout.html" %}

{% block content %}

	<div class="page-content">
		<div class="col-md-10">
			<div class="row">
				<div class="col-md-12">
					<div class="content-box-large">
						<div class="panel-heading">
							<div class="panel-title">
								Rules manager
							</div>
							<div class="panel-options">
								<a href="/rule_add"></i> <button class="btn btn-success btn-xs"><i class="glyphicon glyphicon-plus"></i> Rule</button></a>
							</div>
						</div>
						<div class="panel-body">
							{{ table }}
 						</div>
			  		</div>
			  	</div>
	  		</div>
	  	</div>
	</div>

{% endblock %}

